<div>
<h2>Critic</h2>
<p>
Critic is a new way to look at reviews. We are flooded every day with reviews and it can cause
normal purchasing decisions to be crippiling. 
</p>
<p>Parsing out which reviews are legitimate can be very time consuming. Critic seeks to solve 
this by finding the people that matter to you.</p>
<p>By matching your tastes, the system learns what you likes, and finds you the most compatible users. It brings these users and professionals to your attention so you can follow interact and find out about new media that may interest you.</p>
<p>Using this system we can provide a better aggregate score based on your likes and dislikes.</p>
</div>