<div class = 'errors'>
    <% if @game.errors.any? %>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
</div>
<div class="container">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class='panel-heading'>
        <h2>Add a game</h2>
      </div>
      <div class="panel-body">
        <%= render 'gameform'%>
      </div>
    </div>
  </div>
</div>